// the website colors 
$primary: #151016;
$secondary: #f77f00;
$thirty:white;
$fourth:#f2c148;

//the message website colors 
$error:#d00000;
$bg_error:#f4a1a1;
$success:#aacc00;
$bg_success:#c0f2c0;
$warning:#dddf00;
$bg_warning:#eeeeaf;